.phpunit.cache
.idea
composer.lock
vendor
nut-src
public
dev
db.sqlite
walnut-src
CLAUDE.md
CLAUDE-WALNUT.md
build/*
!build/Dockerfile.static
coverage.xml
coverage-report/
.claude
VERSION
openapi
.DS_Store
docs/allfuncs.txt
lsp/client/node_modules/
lsp/client/out/
lsp/server/vendor/
*.vsix